body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('clashRoyaleBG.webp');
}

#real-body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    display: block;
}

nav ul li a:hover {
    background-color: #575757;
}

section {
    padding: 20px;
}

#intro {
    background-color: #f4f4f4;
    margin-bottom: 20px;
}

#charts {
    background-color: #f3f3f3;
}

.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
}

.table {
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    width: 800px;
    height: 200px;
}

.qualified {
    background-color: rgb(187, 236, 190);
    text-align: center;
}

.table-info {
    background-color: rgb(221, 221, 221);
}

.not-qualified {
    background-color: rgb(246, 246, 246);
    text-align: center;
}

.potential-relegation {
    background-color: rgb(232, 187, 187);
    text-align: center;
}

.table-cell {
    width: 30px;
}

td, th {
    border: 1px solid rgb(154, 154, 154);
    padding: 8px;
}

#table-explanation {
    font-size: 12px;
    font-style: italic;
}